% rebase("menu.html")
<body class = "text-center">
    <main role="main" class="container">
        <div class="starter-template">
          <h1>Pravila igre go</h1>
              <p class="lead">
                Go je starodavna igra za dva igralca.<br> 
                Eden izmed igralcev igra s črnimi kamni, drugi pa z belimi. Igro začne igralec s črnimi kamni.<br>
                Igra ima 3 osnovna pravila:
                <ul class = "list-group-flush">
                    <li class="list-group-item">
                        Igralec, ki je na potezi, na eno izmed prostih križišč položi kamen svoje barve. S tem je njegova poteza končana.
                    </li>
                    <li class="list-group-item">
                        Če je kamen povsem okoljen s kamni druge barve, tako da se ne dotika nobenega praznega križišča, je pobran iz plošče. Kamni iste barve, ki ležijo na sosednjih križiščih, si delijo prazna križišča. 
                    </li>
                    <li class="list-group-item">
                        Cilj igre je obkrožiti čim več praznih križišč s kamni svoje barve.
                    </li>
                </ul>
                Običajno se igra igra na plošči velikosti 19x19 križišč, pogosto pa tudi na ploščah velikosti 9x9 in 13x13.
              </p>
        </div>
      </main>
</body>
